<div class="fly-footer" id="f">
    <p><a href="http://www.javaclimb.com" target="_blank">源码资源分享网</a> 2020 &copy; <a href="http://www.javaclimb.com" target="_blank">javaclimb.com 出品</a></p>
    <p>
        <a href="#">免责申明</a>
        <a href="#" target="_blank" style="color: red">侵权举报</a>
        <a href="#" target="_blank">广告合作</a>
        <a href="#" target="_blank">站长博客</a>
        <script type="text/javascript" src="https://js.users.51.la/19685055.js"></script>
    </p>
    Copyright © 2020 Java源码资源分享网 版权所有
</div>
